
/* Full number pagination */
.paging_full_numbers {
    float: right;
	height: 22px;
	line-height: 22px;
}
.paging_full_numbers a:active {
	outline: none
}
.paging_full_numbers a:hover {
	text-decoration: none;
}

.paging_full_numbers a.paginate_button,
.paging_full_numbers a.paginate_active {
	position: relative;
  float: left;
  padding: 5px 10px;
  margin-left: -1px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  font-size: 12px;
   cursor: pointer;
}

.paging_full_numbers a.paginate_button {
	background-color: #ffffff;
}

.paging_full_numbers a.paginate_button:hover {
	background-color: #eee;
	text-decoration: none !important;
}

.paging_full_numbers a.paginate_active {
	z-index: 2;
    color: #ffffff;
    cursor: default;
    background-color: #3c8dbc;
    
}

.paging_full_numbers .first
{
    border-radius: 0px 0px 0px 0px;
}

.paging_full_numbers .last
{
    border-radius: 0px 0px 0px 0px;
}

.dataTables_filter input[type="text"]
{
color: #555555;
vertical-align: middle;
background-color: #ffffff;
border: 1px solid #cccccc;
height: 30px;
padding: 5px 10px;
font-size: 12px;
line-height: 1.5;
border-radius: 3px;
}

.dataTables_length
{
    float: right;
}

.dataTables_filter select
{
    margin-left: 5px;
}


.dataTables_length select, .dataTables_filter select
{
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.margin-left-5{
  margin-left: 4px;   
}

.dataTables_scrollBody
{
 margin-bottom: 20px;
border-bottom: 1px solid #ccc;   
}

div.dataTables_filter {
    text-align: left;
}

div.dataTables_info {
   float: left; 
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: 100px;
    padding: 10px;
    text-align: center;
}


.thide{
    display: none !important; 
}
span.add_action:hover{
 display: none !important;  
}
span.add_action{
 display: none !important;  
}

span.edit_action:hover{
 display: none !important;  
}
span.edit_action{
 display: none !important;  
}

span.delete_action:hover{
 display: none !important;  
}
span.delete_action{
 display: none !important;  
}

.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    z-index: 2;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}
 
/* Inner */
.popup-inner {
    max-width:700px;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}
 
/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}
 
.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}

.popover-content ul{
    margin-bottom: 0px;
}
.popover{
    font-size: 12px;
}

.home_box {
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 20px;
    background-color: rgba(255,255,255,0.9);
}
        
.home_box .icon{
    font-size: 75px;
    margin-top: 35px;
    margin-bottom: 20px;
    clear: both;
}
.home_box a {
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
}

.pic-thumb {
    width: 210px;
    height: 160px;
    padding: 5px;
}
.remove_image {
  position: absolute;
    z-index: 1;
    top: -5px;
    right: 9px;
    font-size: 17px;
    line-height: 14px;
    background: #ff0404;
    color: #fff;
    border-radius: 50%;
    box-shadow: 1px 2px 1px #666;
    height: 30px;
    width: 30px;
    padding-top: 6px;
    text-align: center;
}
.thumbnail img {
    max-height: 100%;
}